@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');
*{
    font-family: 'Scheherazade New','Times New Roman', Times, serif;
	border:none;
	padding:none;
	margin:none;
}
#links-p-inicio{
    padding: 20px;
}
.btn, #links-p-inicio li{
    margin-bottom: 20px;
    background-color: #b2adad;
    border-radius: 50px;

}
.btn:over{
	background-color:black;
}
.btn, #links-p-inicio li a{
    color: #6b5876;
    font-weight: bold;
    width: 100%;
}
h1,h3{
    text-shadow: 2px 2px black;

}
body{
	
    background-image: linear-gradient(#977ca7, #240a35);
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: auto;
}

#div-person-1, #div-person-2{
	background-color:rgba(2555,255,255,0.8);
	border-radius:50%;
	margin:auto;
}

#div-person-1{
	width: 7rem;
	height:7rem;
}
#div-person-2{	
	width: 5rem;
	height:5rem;
}
#icon-person{
	margin-left:0.45rem;
	font-size:4.2rem;
}

::placeholder{
	color:white;
}
input{
	margin-top:20px;
}

.logo-small{
	width: 60px;
	padding: 1px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}
#home-small-logo-bg{
	width: 50px;
	height: 50px;
}
#title-home{
	margin-left: calc(8.33%*2);
	font-size: 3rem;
	color: rgb(255,233,233);

}
#list-home{
	background-color: rgb(234,226,238);
	padding: 0px 20px;
	padding-bottom: 0px;
	display: none;
	position: fixed;
	top: 0;
	z-index: 998;
	width:100%;
	height:100vh;

}
.list-home-item{
	text-align: justify;
}
#list-home ul li{
	background-color: transparent;

}
#list-home ul li a{
	background-color: transparent;
	color: rgb(133,128,135);
	font-size: 2.08rem;
	border: 0;
	border-bottom:1px solid black;
	text-transform: uppercase;
}
#list-home ul #help-home a {
	border-bottom: 0px;

}
#btn-menu-home{
	position: fixed;
	right: 0px;
	top: 40vh;
	padding: 20px 0px 20px 15px;
	border-radius: 20px 0px 0px 20px;
	background-color: white;
	z-index: 999;
	border: 1px solid black;
	border-right: 0px;
}

.list-home-item a{
	margin-top: -40px;
}

.img-home-item{
	height: 120px;
	width: 120px;
}

.img-home-item img{
	width: 100%;
}

#img-dicas{
	width: calc(8.33%*12);
	height: 200px;
	filter: brightness(50%);
}

#shadow-dicas{
	width: calc(8.33%*12);
	height: 200px;

}
